.app {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.home {
  width: 400px;
  height: 500px;
  position: absolute;
  right: 25%;
}

.sun {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15%;
  right: 12%;
}

.cloud {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15%;
  right: 5%;
}

.battery {
  width: 200px;
  height: 320px;
  position: absolute;
  left: 35%;
}

.battery-arrow {
  position: absolute;
}

.grid {
  position: absolute;
  left: 5%;
  width: 400px;
  height: 400px;
  bottom: 50px;
}

.grid-arrow {
  position: absolute;
}
