body {
  margin: 0;
  font-family: Roboto, serif;
}

.app {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.home {
  width: 400px;
  height: 500px;
  position: absolute;
  right: 25%;
}

.sun {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15%;
  right: 10%;
}

.sun.sunny {
  width: 200px;
  height: 200px;
  right: 5%;
}

.cloud {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15%;
  right: 5%;
}

.cloud.cloudy {
  width: 300px;
  height: 300px;
}

.battery {
  width: 200px;
  height: 320px;
  position: absolute;
  left: 35%;
}

.battery-arrow {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 50px;
}

.battery-arrow.opposite {
  transform: rotate(180deg);
}

.grid {
  position: absolute;
  left: 5%;
  width: 400px;
  height: 400px;
  bottom: 50px;
}

.grid-arrow {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 26%;
  bottom: 50px;
}

.grid-arrow.opposite {
  transform: rotate(180deg);
}

.date {
  font-size: 42px;
  position: absolute;
  left: 5%;
  top: 15%;
}

.close {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 1;
}

.alert {
  color: red;
  font-weight: bold;
  font-size: 82px;
  position: absolute;
  z-index: 2;
  top: 10%;
}

.loading {
  position: absolute;
  top: 50%;
  font-size: 82px;
  font-weight: bold;
}
